chp3/3_Validating_XML/5_multiple_schema_validation/nrl_old/address-xmlschema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.apress.com"
xmlns="http://www.apress.com"
elementFormDefault="qualified">
<xs:element name="address">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="first" type="xs:string"/>
	<xs:element name="last" type="xs:string"/>
	<xs:element name="phone" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>